graphs
wind_temp
wave_temp
__pycache__
*_OUT
metget.debug
*.pickle
filelist.json
RICHAMP*
*.pre
*.wnd
jobErr
jobID
*.finish
*.start
*.submit
*.log
run.properties
*.err
*.out
.DS_Store
gfs_wind.nc
/water_temp
